.loginButton {
  float: right;
}
.title {
  background-color: #38b56e;
  height: 60px;
  padding-top: 20px;
  font-size: 30px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid gray;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 1px 25px gray;
}
.images {
  background-color: white;
  width: 700px;
  margin: auto;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 160px;
  height: 130px;
}
.loginButton {
  margin: 30px 30px 0px 0px;
  color: white;
  font-size: 18px;
}

button {
  background-color: #9c9c9c;
  color: white;
  border: none;
  padding: 10px 10px 10px 10px;
  border-radius: 5px 5px 5px 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.signin {
  background-color: #9c9c9c;
  color: white;
  margin: auto;
  margin-top: 200px;
  width: 155px;
  padding: 10px 10px 12px 10px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 25px gray;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid gray;
}

.flowerName {
  word-spacing: 115px;
}
